doctype html
html(ng-app='Riley-Playground')
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet', media='screen')
    script(src='/javascripts/my_app.js')
    script(src='http://code.angularjs.org/1.2.9/angular.min.js')
    script(src='http://code.jquery.com/jquery.js')
    script(src='javascripts/bootstrap.min.js')
body
  .form-container(ng-controller='myController')
  .container
    h1 User Profile
    p.leadshould Modify your profile 
    br
    form(role='form', action="/user/update", method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="username", ng-model='user.username', placeholder='#{user}', disabled)
      .form-group
        input.form-control(type='password', name="password", ng-model='user.password', placeholder='Password')
      .form-group
        input.form-control(type='text', name="email", ng-model="user.email", placeholder='#{email}')
      .form-group
        input.form-control(type='text', name="sec_question", ng-model='user.sec_question', placeholder='Security Question')
      .form-group
        input.form-control(type='text', name="sec_answer", ng-model='user.sec_answer', placeholder='#{sec_answer}')
      button.btn.btn-default(type='submit') Submit
      &nbsp;
      a(href='/user/list')
        button.btn.btn-primary(type="button") Cancel

  br
h4= info
